Repository villoro/villoro.com, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, CI-CD, config, content/general, content/blog, layout, styles

.github/labeler.yml:

docs:
- README.md
- LICENSE

CI-CD:
- .github/**
- .pre-commit-config.yaml

config:
- astro.config.mjs
- postcss.config.js
- tailwind.config.js
- tsconfig.json
- src/config/**
- src/content/config.ts
- src/hooks/hooks/**

content/general:
- src/content/about/**
- src/content/contact/**
- src/content/homepage/**
- src/content/sections/**

content/blog:
- src/content/blog/**

layout:
- src/layouts/**

styles:
- src/styles/**

Add a couple of missing files
  astro.config.mjs
Labels: config

Fix logos
  public/images/favicon.png
  public/images/logo-darkmode.png
  public/images/logo.png
Labels: none

Fix config + remove projects stuff + adapt footer
  src/config/config.json
  src/config/theme.json
  src/content/blog/-index.md
  src/layouts/ProjectSingle.astro
  src/layouts/components/ProjectCard.astro
  src/layouts/components/ProjectCategories.astro
  src/layouts/partials/Footer.astro
  src/pages/projectes/[single].astro
  src/pages/projectes/index.astro
  src/pages/projectes/pagina/[slug].astro
Labels: config, content/blog, layout

Adapt images
  public/images/me_thinking.jpg
  src/config/config.json
  src/images/banner.jpg
  src/images/home/me_cnn.jpg
  src/images/home/me_plotly.jpg
  src/images/home/me_tensorboard.jpg
  src/images/home/me_thinking.jpg
  src/images/home/me_working.jpg
  src/images/me.png
  src/images/planols.jpg
  src/images/projecte-exemple.jpg
  src/pages/about.astro
  src/pages/index.astro
Labels: config

Add base post for how to rewrite git history
  old/src/content/blog/0039-rewrite-git-history.md
Labels: none
